In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', None)
pd.set_option('max_colwidth', 1000)

Collecting kaggle
  Downloading kaggle-1.6.4.tar.gz (84 kB)
     ---------------------------------------- 0.0/84.6 kB ? eta -:--:--
     ---- ----------------------------------- 10.2/84.6 kB ? eta -:--:--
     ------------- ------------------------ 30.7/84.6 kB 435.7 kB/s eta 0:00:01
     --------------------------- ---------- 61.4/84.6 kB 544.7 kB/s eta 0:00:01
     -------------------------------------- 84.6/84.6 kB 682.1 kB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: six>=1.10 in c:\users\lucas\anaconda3\envs\kaggle-titanic\lib\site-packages (from kaggle) (1.16.0)
Collecting certifi (from kaggle)
  Using cached certifi-2024.2.2-py3-none-any.whl.metadata (2.2 kB)
Requirement already satisfied: python-dateutil in c:\users\lucas\anaconda3\envs\kaggle-titanic\lib\site-packages (from kaggle) (2.8.2)
Collecting requests (from kaggle)
  Using cached requests-2.31.0-py3-none-any.whl.metadata (4.6 kB)
Collecting tqdm (from kaggle)
  Using cached tqdm-4.66.1-py3-none-any.whl.metadata (57 kB)
Collecting python-slugify (from kaggle)
  Downloading python_slugify-8.0.3-py2.py3-none-any.whl.metadata (8.5 kB)
Collecting urllib3 (from kaggle)
  Using cached urllib3-2.2.0-py3-none-any.whl.metadata (6.4 kB)
Collecting bleach (from kaggle)
  Downloading bleach-6.1.0-py3-none-any.whl.metadata (30 kB)
Collecting webencodings (from bleach->kaggle)
  Downloading webencodings-0.5.1-py2.py3-none-any.whl (11 kB)
Collecting text-unidecode>=1.3 (from python-slugify->kaggle)
  Using cached text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
Collecting charset-normalizer<4,>=2 (from requests->kaggle)
  Using cached charset_normalizer-3.3.2-cp312-cp312-win_amd64.whl.metadata (34 kB)
Collecting idna<4,>=2.5 (from requests->kaggle)
  Using cached idna-3.6-py3-none-any.whl.metadata (9.9 kB)
Requirement already satisfied: colorama in c:\users\lucas\anaconda3\envs\kaggle-titanic\lib\site-packages (from tqdm->kaggle) (0.4.6)
Downloading bleach-6.1.0-py3-none-any.whl (162 kB)
   ---------------------------------------- 0.0/162.8 kB ? eta -:--:--
   ---------------------------------------- 162.8/162.8 kB 9.5 MB/s eta 0:00:00
Using cached certifi-2024.2.2-py3-none-any.whl (163 kB)
Downloading python_slugify-8.0.3-py2.py3-none-any.whl (10 kB)
Using cached requests-2.31.0-py3-none-any.whl (62 kB)
Using cached urllib3-2.2.0-py3-none-any.whl (120 kB)
Using cached tqdm-4.66.1-py3-none-any.whl (78 kB)
Using cached charset_normalizer-3.3.2-cp312-cp312-win_amd64.whl (100 kB)
Using cached idna-3.6-py3-none-any.whl (61 kB)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py): started
  Building wheel for kaggle (setup.py): finished with status 'done'
  Created wheel for kaggle: filename=kaggle-1.6.4-py3-none-any.whl size=111937 sha256=0710ebc70ee0bbcc267d494be212d32926b2f4aed08d658e4b08b503bd03fb5f
  Stored in directory: c:\users\lucas\appdata\local\pip\cache\wheels\0d\23\47\80cab67b2c3283b152a15cfadb03bd0f110259c1739da43ce6
Successfully built kaggle
Installing collected packages: webencodings, text-unidecode, urllib3, tqdm, python-slugify, idna, charset-normalizer, certifi, bleach, requests, kaggle
Successfully installed bleach-6.1.0 certifi-2024.2.2 charset-normalizer-3.3.2 idna-3.6 kaggle-1.6.4 python-slugify-8.0.3 requests-2.31.0 text-unidecode-1.3 tqdm-4.66.1 urllib3-2.2.0 webencodings-0.5.1

ModuleNotFoundError: No module named 'pandas'

In [14]:
test = pd.read_csv('Datasets/test.csv')
train = pd.read_csv('Datasets/train.csv')

def preprocess(df):
    df.rename(columns={'Sex':'Male'},inplace=True)
    df['Male'] = df['Male'].apply(lambda x: 1 if x == 'male' else 0)
    
    return df

test = preprocess(test)
train = preprocess(train)

In [15]:
display(train.head())
display(train.dtypes)
display(train.isnull().sum())

,PassengerId,Survived,Pclass,Name,Male,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Male             int64
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

PassengerId      0
Survived         0
Pclass           0
Name             0
Male             0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [26]:
display(train.describe())
display(train.info())

,PassengerId,Survived,Pclass,Male,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,0.647587,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,0.477990,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,0.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,1.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,1.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,1.000000,80.000000,8.000000,6.000000,512.329200

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Male         891 non-null    int64
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(6), object(4)
memory usage: 83.7+ KB

None